#s1 {
    background-color: #FFD9E8; 
 }
 
 #s2 {
    background-color: #FFC2D6;
 }
 
 #s3 {
    background-color: #FFABC3;
 }
 
 #s4 {
    background-color: #FF95B1;
 }
 
 #s5 {
    background-color: #FF7E9E;
 }
 
 #s6 {
    background-color: #FF688C;
 }
 
 #s7 {
    background-color: #FF5179;
 }
 
 #s8 {
    background-color: #FF3B67;
 }
 
 #s9 {
    background-color: #FF244F;
 }
 
 #s10 {
    background-color: #FF0D37;
 }
 
 #s11 {
    background-color: #FF0024; 
 }
 
 #s12 {
    background-color: #FF0F30;
 }
 
 #s13 {
    background-color: #FF1E3D;
 }
 
 #s14 {
    background-color: #FF2C49;
 }
 
 #s15 {
    background-color: #FF3B56;
 }
 
 #s16 {
    background-color: #FF4962;
 }
 
 #s17 {
    background-color: #FF5870;
 }
 
 #s18 {
    background-color: #FF667D;
 }
 
 #s19 {
    background-color: #FF7690;
 }
 
 #s20 {
    background-color: #FF87A2;
 }
 
 #s21 {
    background-color: #FF98B5; 
 }

 body {
    font-family: "Lucida Console", "Courier New", monospace;
}
 
#border1{
    border: solid;
    border-color: #750688;
}

#border2{
    border: dashed #750688;
}

#border3{
    border: 10px double #750688;
    
}

#border-left{
    border-left: solid 10px rgb(108, 7, 117);
}

#border-right{
    border-right: solid 10px rgb(95, 12, 109);
}

#border-top{
    border-top: solid 10px rgb(95, 12, 109);
}

#border-bottom{
    border-bottom: solid 10px rgb(95, 12, 109);
}

#border-radius1{
    border: solid 20px rgb(232, 126, 247);
    border-radius: 30px;
}
#border-radius2{
    border: solid 20px rgb(232, 126, 247);
    border-radius: 2px 4px 2px;
}
#border-radius3{
    border: solid 20px rgb(232, 126, 247);
    border-radius: 10px 100px / 120px;
}
#background-image{
    background-image: url("https://t4.ftcdn.net/jpg/05/16/62/65/360_F_516626526_18Lnxfa4y6Mh5qa0zxPa4YmHumI4QJNp.jpg");
}

#color1{
    color:#b2d3f6
}
#color2{
    color:#47f65e
}
#color3{
    color:#dbee2f
}

#font1{
    font: 1.2em "Fira Sans", sans-serif;
}

#font2{
    font: italic small-caps bold 16px/2 cursive;
}

#font-family1{
    font-family: Georgia, serif;
}

#font-family2{
    font-family: cursive;
}

#font-style1{
    font-style: italic;
}

#font-style2{
    font-style: oblique;
}

#font-weight1{
    font-weight: bold;
}

#font-weight2{
    font-weight: lighter;
}

#width1{
    width: 150px;
    text-align: justify;
}

#width2{
    width: 15px;
    text-align: justify;
}

#width3{
    width: 200px;
    text-align: justify;
}

#height1{
    height: 150px;
}

#height2{
    height:88px
}

#list-style {
    list-style-type: none; 
    margin: 30px;
    color: #71b5e9;
    font-weight: bold;
}

#margin1{
    margin: 100px;
}

#margin2{
    margin: 30px;
}

#padding{
    padding: 30px;
}

#overflow{
  width: 40px;
  overflow: scroll;
}

#display{
    display: grid;
}